body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-window {
    transition: all .1s linear;
    min-width: 0px;
    min-height: 0px
}

.maximize {
    min-height: 100%;
    min-width: 100%;
}